/* Webfont: TheFrankline-Regular */@font-face {
    font-family: 'TheFrankline';
    src: url('The Frankline.woff2') format('woff2'), /* Modern Browsers */
         url('The Frankline.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

