/* Webfont: TheFrankline-Regular */@font-face {
    font-family: 'TheFrankline';
    src: url('The Frankline.eot'); /* IE9 Compat Modes */
    src: url('The Frankline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('The Frankline.woff') format('woff'), /* Modern Browsers */
         url('The Frankline.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

